<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Category</title>
</head>
<body th:fragment="category">
  <h3 class="subtitle">Loại món</h3>
  <div class="box-category">
  
  <!--  
    <ul th:each="cate: ${categories}" id="cat_accordion">
      <li>
        <a th:text="${cate.name}" href="category.html">Category name</a>
        </li>
    </ul>
    -->
    
    <ul id="cat_accordion">
      <li>
        <a href="/product">Tất cả</a>
      </li>
      <li th:each="cate: ${categories}">
        <a th:text="${cate.name}" th:href="@{|/category/${cate.id}|}" class="bg-danger">Category name</a> 
       </li>
    </ul>
  </div>
  <h3 class="subtitle">Bán chạy</h3>
  <div class="side-item">
    <div th:each="p:${bestSeller}" class="product-thumb clearfix">
      <div class="image">
        <a href="product.html"><img th:src="@{|/assets/user/image/product/${p.group.photo}|}" alt="Brand Fashion Cotton T-Shirt"
          class="img-responsive" /></a>
      </div>
      <div class="caption">
        <h4>
          <a href="product.html" th:text="${p.group.name}">name</a>
        </h4>
        <p class="price">
          <th:block th:if="${p.group.discount != null AND p.group.discount > 0}">
													<span
														th:text="${#numbers.formatDecimal(p.group.price - p.group.price/100, 0, 'COMMA', 0, 'POINT')} + '₫'"
														class="price-new">price</span>
													<span
														th:text="${#numbers.formatDecimal(p.group.price, 0, 'COMMA', 0, 'POINT')} + '₫'"
														class="price-old"></span>
													<span th:text="${p.group.discount} +'%'" class="saving">discount
														percent</span>
												</th:block>
												<th:block
													th:unless="${p.group.discount != null AND p.group.discount > 0}">
													<span
														th:text="${#numbers.formatDecimal(p.group.price, 0, 'COMMA', 0, 'POINT')} + '₫'"
														class="price-new"></span>
												</th:block>
        </p>
      </div>
    </div>
    
    
    
    
  </div>
  <h3 class="subtitle">Đặc biệt</h3>
  <div class="side-item">
    <div th:each="p:${product3}" class="product-thumb clearfix">
      <div class="image">
        <a href="product.html"><img th:src="@{|/assets/user/image/product/${p.photo}|}" 
          class="img-responsive" /></a>
      </div>
      <div class="caption">
        <h4>
          <a href="product.html" th:text="${p.name}">name</a>
        </h4>
        <p class="price">
          <th:block th:if="${p.discount != null AND p.discount > 0}">
													<span
														th:text="${#numbers.formatDecimal(p.price - p.price/100, 0, 'COMMA', 0, 'POINT')} + '₫'"
														class="price-new">price</span>
													<span
														th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')} + '₫'"
														class="price-old"></span>
													<span th:text="${p.discount} +'%'" class="saving">discount
														percent</span>
												</th:block>
												<th:block
													th:unless="${p.discount != null AND p.discount > 0}">
													<span
														th:text="${#numbers.formatDecimal(p.price, 0, 'COMMA', 0, 'POINT')} + '₫'"
														class="price-new"></span>
												</th:block>
        </p>
      </div>
    </div>
  </div>
</body>
</html>